/**
 * CSS Import statements 
 */
@import '../components/ui/spinner/spinner.style.css';
@import './custom_scrollbar.css';
@import './react_toastify.css';

/* Librairies */
@import 'keen-slider/keen-slider.min.css';
@import 'react-toastify/dist/ReactToastify.css';

/**
 * End CSS Import statements 
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 161 94% 30%;

    --muted: 162 81% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 161 94% 30%;

    --card: 0 0% 100%;
    --card-foreground: 161 94% 30%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 161 94% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 162 81% 96%;
    --secondary-foreground: 161 94% 30%;

    --accent: 162 81% 96%;
    --accent-foreground: 161 94% 30%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 161 94% 30%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }

  /* To blur the background of an element */
  .bg__blurred {
    @apply bg-opacity-80 backdrop-blur-sm backdrop-filter;
  }
}
